<mat-toolbar>
  <div class="container">
    <div class="row">
      <div class="col-md-4 logo">
        <app-logo></app-logo>
      </div>

      <div class="col-md-8 text-right">
        <button mat-button (click)="logout()" *ngIf="isAuth">Logout</button>
      </div>
    </div>
  </div>
</mat-toolbar>
