.center
  margin: 0 auto

  .login
    width: 100%
    display: flex
    flex-wrap: wrap
    background-color: #f18698
    box-sizing: border-box
    border: 1px solid #f18698
    margin-top: 80px

    .left
      width: 50%

      span
        margin-top: 30px
        font-size: 3rem
        display: block
        color: #FFFFFF

    .right
      width: 50%
      background: #FFFFFF

      > span
        margin-top: 30px
        font-size: 3rem
        display: block
        color: #f50057
