<div class="row">
  <div class="col-md-6 pt-2 center">
    <div class="login">
      <div class="left text-right pb-4 pt-4">
        <span>Itaú</span>
      </div>

      <div class="right pb-4 pt-4">
        <span>Challenge</span>

        <form class="col-md-12 mt-5" [formGroup]="loginForm" (submit)="logIn($event)">
          <div class="row">
            <mat-form-field class="col-md-12 form-group">
              <input matInput type="text" placeholder="E-mail" name="email" formControlName="email" maxlength="128">
              <mat-error *ngIf="loginForm.get('email') && loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
                Digite um E-mail Válido
              </mat-error>
              <mat-error *ngIf="loginForm.get('email') && loginForm.get('email').hasError('required')">
                O E-mail é
                <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col form-group">
              <input matInput type="password" placeholder="Senha" name="password" formControlName="password" maxlength="30">
              <mat-error *ngIf="loginForm.get('password') && loginForm.get('password').hasError('minlength') && !loginForm.get('password').hasError('required')">
                Sua senha deve ter no mínimo 8 caracteres
              </mat-error>
              <mat-error *ngIf="loginForm.get('password') && loginForm.get('password').hasError('required')">
                A senha é obrigatória
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <div class="col-md-12 form-group">
              <button mat-raised-button color="secundary" [disabled]="loginForm.invalid" class="custom-btn form-group" type="submit">Logar</button>
              <a mat-button routerLink="/criar-conta" class="float-right">Criar Conta</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
