<div class="row">
  <mat-card class="col-md-12 mt-4 custom-mat-card">
    <h1>Criar Conta</h1>
    <mat-card>

      <div class="row" *ngIf="erros?.length">
        <div class="col-md-12 mb-4">
          <mat-error>
            {{erros}}
          </mat-error>
        </div>
      </div>

      <div class="row" *ngIf="successMSG?.length">
        <div class="col-md-12 mb-4">
          <strong>
            {{successMSG}}
          </strong>
        </div>
      </div>
      <form [formGroup]="userForm" (submit)="save($event)">
        <div class="row">
          <mat-form-field class="col-md-4">
            <input matInput type="text" placeholder="Nome" name="name" formControlName="name">
          </mat-form-field>

          <mat-form-field class="col-md-4">
            <input matInput type="text" placeholder="Email" name="email" formControlName="email" maxlength="128">
            <mat-error *ngIf="userForm.get('email') && userForm.get('email').hasError('email') && !userForm.get('email').hasError('required')">
              Digite um E-mail Válido
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-4">
            <input matInput type="password" placeholder="Senha" name="password" formControlName="password">
          </mat-form-field>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <a mat-raised-button routerLink="/">Voltar</a>
          </div>
          <div class="col-md-6 text-right">
            <button mat-raised-button color="secundary" [disabled]="userForm.invalid" class="custom-btn form-group float-right" type="submit">Criar</button>
          </div>
        </div>
      </form>
    </mat-card>
  </mat-card>
</div>
