.container-logo
  display: inline-block
  width: 160px
  border: 1px solid #f18698
  background-image: linear-gradient(to right, #f50057 20%, #fff 85%)
  line-height: 1
  height: 17px
  padding: 5px 0px
  position: absolute
  height: 30px
  margin-top: -20px

  .left
    color: #fff
    text-align: right
    width: 33%
    float: left
    padding-right: 2px

  .right
    color: #f50057
    background-color: #fff
    float: right
    width: 67%
    padding-left: 3px
