<h2 mat-dialog-title>Nova despesa</h2>

<form class="row" [formGroup]="form" (submit)="save($event)">
  <mat-form-field class="col-md-4">
    <input matInput type="text" placeholder="Nome" name="name" formControlName="name">
  </mat-form-field>

  <mat-form-field class="col-md-4">
    <input matInput type="text" placeholder="Rótulo" name="group" formControlName="group">
  </mat-form-field>

  <mat-form-field class="col-md-4">
    <input matInput type="text" placeholder="Valor" name="expenseAmount" formControlName="expenseAmount">
  </mat-form-field>

  <div class="col-md-12">
    <mat-dialog-actions class="row" align="end">
      <div class="col-md-6">
        <button class="float-left" mat-button mat-dialog-close>Cancel</button>
      </div>

      <div class="col-md-6">
        <button class="float-right custom-btn" mat-button [disabled]="form.invalid" cdkFocusInitial>Salvar</button>
      </div>
    </mat-dialog-actions>
  </div>
</form>

