.custom-mat-card
  width: '100%'
  overflow-x: 'auto'
  border-radius: '0px'
  margin-bottom: 1.5rem
  box-sizing: border-box
  border: 1px solid #f18698
  background-color: #f18698

.mat-header-row
  width: 100%

td
  padding: 10px 7px

th
  padding: 10px 7px

tbody
  tr:nth-child(odd)
    background: #dfdfdf
