<div class="row">
  <mat-card class="col-md-10 mt-4 custom-mat-card">
    <h1>Filtro de despesas</h1>
    <mat-card>
      <form #f="ngForm">
        <div class="row">
          <div class="col-md-10">
            <div class="row">
              <mat-form-field class="col-md-4">
                <input matInput type="text" placeholder="Nome" name="name" ngModel>
              </mat-form-field>

              <mat-form-field class="col-md-4">
                <input matInput type="text" placeholder="Rótulo" name="group" ngModel>
              </mat-form-field>

              <mat-form-field class="col-md-4">
                <input matInput type="text" placeholder="Valor" name="expenseAmount" ngModel>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-2 text-right">
            <button mat-fab matTooltip="Buscar pelo Filtro" (click)="filterExpense(f)">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-card>
  </mat-card>

  <div class="col-md-2 mt-2 text-right">
    <button mat-fab matTooltip="Adicionar nova despesa" (click)="openModal()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-card class="col-md-12 mt-1 custom-mat-card">
    <h1>Minhas despesas</h1>

    <mat-card>
      <table class="col-md-12">
        <thead>
          <tr>
            <th id="name">Nome</th>
            <th id="data">Data</th>
            <th id="tag">Rótulo</th>
            <th id="valor">Valor</th>
            <th id="actions"></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of dataSource">
            <td>{{item.name}}</td>
            <td>{{item.date | localeDate}} {{item.date | localeTime}}</td>
            <td>{{item.group}}</td>
            <td>{{item.expenseAmount}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <mat-paginator [length]="expenses?.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true" (page)="paginator($event)"></mat-paginator>
    </mat-card>
  </mat-card>
</div>
