/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css'

.mat-toolbar
  background-color: #f18698
  color: #FFFFFF

.custom-btn
  background-color: #f50057
  color: #FFFFFF

.default-modal-width
  .mat-dialog-container
    width: 1110px
    max-height: calc(100vh - 100px)
    overflow-y: auto

    .background-inverse
      background: #f0f0f0

    .mat-radio-button.mat-accent .mat-radio-inner-circle,
    .mat-checkbox-checked.mat-accent .mat-checkbox-background
      background-color: #2E7AD5
